@model YummyCures.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentCreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentBody)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
