@model YummyCures.Models.Content

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Content</h4>
    <hr />

    @if (Model.ContentType.ContentTypeDescription == "Video")
    {
        <iframe width="560" height="315" src="@Model.PreviewUrl" frameborder="0" allowfullscreen></iframe>
    }

    @if (Model.ContentType.ContentTypeDescription == "Recipe")
    {
        <iframe width="560" height="315" src="@Model.PreviewUrl" frameborder="0" allowfullscreen></iframe>
    }

    @if (Model.ContentType.ContentTypeDescription == "Article")
    {
        <iframe width="560" height="315" src="@Model.PreviewUrl" frameborder="0" allowfullscreen></iframe>
    }


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContentType.ContentTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentType.ContentTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentCreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviewUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviewUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbNailUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbNailUrl)
        </dd>

    </dl>




</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
